@model FirstWebApplication.Models.Post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @Html.LabelFor(m => m.Id)
                @Html.DisplayFor(m => m.Id)
                <span asp-validation-for="Id" class="text-danger"></span>

            <br />
            @Html.LabelFor(m => m.PostText)
            @Html.EditorFor(m => m.PostText)
            <span asp-validation-for="PostText" class="text-danger"></span>
            <br />

            @Html.LabelFor(m => m.Category)
            @Html.EditorFor(m => m.Category)
            <span asp-validation-for="Category" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
